<!doctype html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <title>Hello Flask</title>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/header/header-style.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/footer/footer-style.css" />
    <link rel="stylesheet" href="../static/css/overhang.min.css">
    <style>
        body {
            height: 100%;
            background: gainsboro;
            overflow: hidden;
        }

        html {
            height: 100%;
        }

        canvas {
            z-index: -1;
            position: absolute;
        }
    </style>
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/Particleground.js"></script>
    <script src="../static/js/jquery-ui.min.js"></script>
    <script src="../static/js/overhang.js"></script>
    <script src="../static/js/index.js"></script>
    <script>
        //内容中粒子背景特效属性修改在这！
        $(document).ready(function () {
            //粒子背景特效
            $('body').particleground({
                //  dotColor: '#5cbdaa',
                //  lineColor: '#5cbdaa'
                dotColor: '#5cbdaa',
                lineColor: '#5cbdaa'
            });
            //验证码
            createCode();
            //测试提交，对接程序删除即可
            $(".submit_btn").click(function () {
                location.href = "javascrpt:;"/*tpa=http://***index.html*/;
            });
        });
    </script>
</head>

<body>
    <div class="htmleaf-container">
        <nav class="animenu">
            <ul class="animenu__nav">
                <li>
                    <a href="/">主页</a>
                </li>
                <li>
                    <a href="#">文章</a>
                    <ul class="animenu__nav__child">
                        <li><a href="">敬请期待</a></li>
                        <li><a href="">敬请期待</a></li>
                        <li><a href="">敬请期待</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">学习</a>
                    <ul class="animenu__nav__child">
                        <li><a href="">敬请期待</a></li>
                        <li><a href="">敬请期待</a></li>
                        <li><a href="">敬请期待</a></li>
                    </ul>
                </li>
                <li>
                    <a href="about">关于</a>
                </li>
                <li>
                    <a target="_blank" href="http://sc.chinaz.com/jiaoben/">站长素材</a>
                </li>
                {% if "user_email" in session %}
                <!--如果传入名字-->
                <li class="pull-right">
                    <a href="logout">退出</a>
                </li>
                <li class="pull-right">
                    <a href="center">个人中心</a>
                    <ul class="animenu__nav__child">
                        <li><a href="center" style="text-transform:none">{{ session.get("user_email") }}</a></li>
                        <li><a href="">修改账户</a></li>
                    </ul>
                </li>
                {% else %}
                <li class="pull-right">
                    <a href="regist">注册</a>
                </li>
                <li class="pull-right">
                    <a href="login">登录</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>

    {% block content %}

    {% endblock %}

    <!--公共底部-->
    <div class="footer">
        <div class="footerinner">
            <ul class="share">
                <li>
                    <img class="weibo_icon" src="../static/img/footer/share1.png" alt="">
                </li>
                <li>
                    <img class="qq_icon" src="../static/img/footer/share2.png" alt="">
                </li>
                <li>
                    <img class="twitter_icon" src="../static/img/footer/share3.png" alt="">
                </li>
                <li>
                    <img class="wechat_icon" src="../static/img/footer/share4.png" alt="">
                </li>
            </ul>

            <div class="footerinfo">
                <div class="footerinfoTop">
                    <p>本站作者范茂伟，此网站仅作学习交流使用，不带有任何商业目的，有任何问题请与作者联系。</p>
                </div>
                <div class="footerinfoBottom">
                    <p>本人博客：<a href="http://fmw666.github.io/" target="_blank">fmw666.github.io</a></p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>