{% extends 'layout.html' %}

{% block content %}
    <link rel="stylesheet" href="../static/css/container/login-style.css">
    <link rel="stylesheet" href="../static/css/container/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/container/zzsc.css">
    <div class="form-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <form class="form-horizontal" method="POST">
                        <span class="heading">用户注册</span>
                        <div class="form-group">
                            <input type="email" required class="form-control" name="user_email" id="inputEmail3" placeholder="电子邮件">
                            <i class="fa fa-user"></i>
                        </div>
                        <div class="form-group">
                            <input type="password" required class="form-control" name="user_pwd" id="inputPassword3" placeholder="密码">
                            <i class="fa fa-lock"></i>
                            <a href="#" title="请输入至少6位的密码" class="fa fa-question-circle"></a>
                        </div>
                        <div class="form-group">
                            <input type="password" required class="form-control" name="user_pwd_2" id="inputPassword4" placeholder="请再次输入密码">
                            <i class="fa fa-lock"></i>
                        </div>
    
                        <hr />
                        <br />
                        <div class="form-group">
                            <button type="submit" id="regist" class="btn btn-default">立即注册</button>
                            <!-- <script>
                                function regist() {
                                    if (document.getElementById("inputPassword3").values == document.getElementById("inputPassword4").values) {
                                        var classVal = document.getElementById("regist").getAttribute("class");
                                        classVal = classVal.concat(" regist--ok");
                                        document.getElementById("regist").setAttribute("class",classVal);
                                        return true;
                                    }
                                    else if (document.getElementById("inputPassword3").values != document.getElementById("inputPassword4").values) {
                                        var classVal = document.getElementById("regist").getAttribute("class");
                                        classVal = classVal.concat(" regist--error");
                                        document.getElementById("regist").setAttribute("class", classVal);
                                        alert(document.getElementById("inputPassword3").values);
                                        return false;
                                    }
                                }
                            </script> -->
                            <button onclick="window.location.href='login'" class="btn btn-default" style="margin-right: 20px;">已有账号？马上登录</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}